################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Criacionais/Abstract-Factory/SimpleFactory/.vs/SimpleFactory
/Criacionais/Abstract-Factory/SimpleFactory/obj
/Criacionais/Abstract-Factory/Abstract-Factory/.vs/Abstract-Factory
/Criacionais/Abstract-Factory/Abstract-Factory/obj/Debug
/Criacionais/Abstract-Factory/AbstractFactory/.vs/AbstractFactory
/Criacionais/Abstract-Factory/AbstractFactory/obj
/Criacionais/Abstract-Factory/SimpleFactory/.vs/ProjectEvaluation
